:root {
  color-scheme: light;
  --header-bg: hsl(249, 99%, 64%);
  --header-image: url('/images/bg-mobile-light.jpg');
  --toggle-icon: url('/images/icon-moon.svg');
  --shadow: 0 35px 50px -15px hsla(235, 19%, 80%, .5);
  --body-bg: var(--neutral-white);
  --item-bg: white;
  --border: var(--neutral-236-light);
  --text-primary: var(--neutral-235-light);
  --text-secondary: var(--neutral-236-dark);
  --text-checked: var(--neutral-233-light);
}

@media (min-width: 768px) {
  :root {
    --header-image: url('/images/bg-desktop-light.jpg');
  }
}
